@model IEnumerable<Jodami.AppWeb.Models.ViewModels.VMTipoFlete>

@{
    ViewData["Title"] = "Tipos de Fletes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista Tipos de Fletes</h6>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#AddEntidad"><i class="fas fa-plus-circle"></i> Nuevo Tipo de Flete</button>
                @await Html.PartialAsync("_AddPartialView")
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success" href="@Url.Action("ListarPDF", "TipoFlete")"><i class="bi bi-printer"></i> Listado en PDF</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="division-Datatables" class="table table-striped table-bordered" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th style="width:7%" align='center'>Código</th>
                            <th style="width:69%">Descripción</th>
                            <th style="width:6%" align='center'>Estado</th>
                            <th style="width:18%" align='center'>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.IdFlete).ToList())
                        {
                            <tr>
                                <td style="width:7%" align='center'>@Html.DisplayFor(m => item.Codigo)</td>
                                <td style="width:69%">@Html.DisplayFor(m => item.Descripcion)</td>
                                <td style="width:6%" align='center'>@Html.DisplayFor(m => item.EsActivo)</td>
                                <td style="width:18%" align='center'>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="@("#EditEntidad-" + item.IdFlete)" data-url="@Url.Action($"Edit/{item.IdFlete}")">
                                        <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Editar&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EditPartialView", item)

                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdFlete)" data-url="@Url.Action($"Eliminar/{item.IdFlete}")">
                                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/datatables-demo.js"></script>

}