@model Jodami.AppWeb.Models.Dto.DtoDirecciones

<div class="modal fade" id="AddEntidad" aria-labelledby="AddEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="AddEntidadLabel">Adicionar Dirección</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                   
                    <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>

                        <input type="hidden" asp-for="@Model.NewDireccion.IdDireccion" />
                        <input type="hidden" asp-for="@Model.NewSocioDireccion.IdSocio" />
                        <input type="hidden" asp-for="@Model.IdSocio" />
                        <input type="hidden" asp-for="@Model.TipoNroDcmto" />
                        <input type="hidden" asp-for="@Model.Nombres" />
                        <input type="hidden" asp-for="@Model.Situacion" />
                        <input type="hidden" asp-for="@Model.TipoSocio" />
                        <input type="hidden" asp-for="@Model.ControladorOrigen" />
                        <input type="hidden" asp-for="@Model.AccionOrigen" />

                        
                        @* ---------------------------------- *@
                        @* Tipo de dirección, Datos de la Via *@
                        @* ---------------------------------- *@
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label class="control-label">Tipo de Dirección</label>
                                <select class="form-control" asp-for="@Model.NewDireccion.IdTipoDireccion" required asp-items="@(new SelectList(@Model.LstTipoDirecciones, "IdTipoDireccion", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar tipo de dirección</div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Tipo de Vía</label>
                                <select class="form-control" asp-for="@Model.NewDireccion.IdTipoVia" required asp-items="@(new SelectList(@Model.LstTipoVias, "IdTipoVia", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar tipo de vía</div>
                            </div>
                            <div class="col-md-5">
                                <label class="control-label">Nombre de la Vía</label>
                                <input id="nombreVia" class="form-control" asp-for="@Model.NewDireccion.NombreVia" required class="form-control" autocomplete="off" placeholder="Ingrese nombre de vía" />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingresar nombre de la vía</div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Número de Vía</label>
                                <input id="numeroVia" class="form-control" asp-for="@Model.NewDireccion.NumeroVia" required class="form-control" autocomplete="off" placeholder="Ingrese nro de vía" />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingresar número de vía</div>
                            </div>
                        </div> 

                        @* ---------------- *@
                        @* Datos de la Zona *@
                        @* ---------------- *@
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Tipo de Zona</label>
                                <select id="cboTipoZona" class="form-control" asp-for="@Model.NewDireccion.IdTipoZona" required asp-items="@(new SelectList(@Model.LstTipoZonas, "IdTipoZona", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar tipo de zona</div>
                            </div>

                            <div class="col-md-9">
                                <label class="control-label">Nombre de Zona</label>
                                <input id="nombreZona" class="form-control" asp-for="@Model.NewDireccion.NombreZona" class="form-control" autocomplete="off" placeholder="Ingrese nombre de zona" />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingresar nombre de la zona</div>
                            </div>
                        </div>

                        @* ---------------- *@
                        @* Datos del Ubigeo *@
                        @* ---------------- *@
                        <hr />
                        <div class="row">                  
                            <div class="col-sm-3">
                                <label class="form-label">Departamento</label>
                                <select id="cbodepartamento" asp-for="@Model.DepartamentoKey" class="form-control form-select-sm" required></select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar departamento</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Provincia</label>
                                <select id="cboprovincia" asp-for="@Model.ProvinciaKey" class="form-control form-select-sm" required></select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar provincia</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Distrito</label>
                                <select id="cbodistrito" asp-for="@Model.DistritoKey" class="form-control form-select-sm" required></select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar distrito</div>
                            </div>
                        </div>                     

                        @*-------------- *@
                        @* Pie de página onclick="validarFormulario()" *@
                        @*-------------- *@      
                        <br />
                        <br />
                        <div class="modal-footer">
                            <button id="btnSubmit" type="submit" class="btn btn-primary" > Guardar</button>
                            <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                        </div>
                         
                    </form>

                    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

                    <script type="text/javascript">
                         
                        $(document).ready(function () {
    
                            $.getJSON("getUbigeoDepartamento", {}, function (dataDepartamentos) {
                                $("#cboprovincia").empty();
                                $("#cbodistrito").empty();
                                $("#cbodepartamento").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                                $.each(dataDepartamentos, function (i, obj) { 
                                    $("#cbodepartamento").append("<option value='" + obj.idDepartamento + "'>" + obj.departamentoName + "</option>");                                    
                                });                                
                            });

                            $("#cbodepartamento").change(function () {                                
                                $("#cboprovincia").empty();
                                $("#cbodistrito").empty();
                                let keyDepartamento = $("#cbodepartamento").val();
                                $.getJSON("getUbigeoProvinciasByDepartamento", { "b_departamento": keyDepartamento }, function (data) {                                   
                                    $("#cboprovincia").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                                    $.each(data, function (i, obj) {
                                        $("#cboprovincia").append("<option value='" + obj.idProvincia + "'>" + obj.provinciaName + "</option>");
                                    });
                                });
                            });

                            $("#cboprovincia").change(function () {
                                $("#cbodistrito").empty();
                                let keyProvincia = $("#cboprovincia").val();
                                $.getJSON("getUbigeoDistritosByDepartamentoAndProvincia", { "b_provincia": keyProvincia }, function (data) {                                   
                                    $("#cbodistrito").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                                    $.each(data, function (i, obj) {
                                        $("#cbodistrito").append("<option value='" + obj.idDistrito + "'>" + obj.distritoName + "</option>");
                                    });
                                });
                            });
                        });

                        (function () {
                            'use strict'
                            var forms = document.querySelectorAll('.needs-validation')

                            Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }
                                        form.classList.add('was-validated')
                                    }, false)
                                })
                        })()

                    </script> 

                </div>
            </div>
        </div>
    </div>
</div>



