@model Jodami.AppWeb.Models.Dto.DtoDirecciones

<div class="modal fade" id="EditEntidad-@Model.NewSocioDireccion.IdSocioDireccion" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Editar Dirección</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">

                <form asp-action="Editar" method="post" class="needs-validation" novalidate>

                    <input type="hidden" asp-for="@Model.NewDireccion.IdDireccion" />
                    <input type="hidden" asp-for="@Model.NewSocioDireccion.IdSocio" />
                    <input type="hidden" asp-for="@Model.IdSocio" />
                    <input type="hidden" asp-for="@Model.TipoNroDcmto" />
                    <input type="hidden" asp-for="@Model.Nombres" />
                    <input type="hidden" asp-for="@Model.Situacion" />
                    <input type="hidden" asp-for="@Model.TipoSocio" />
                    <input type="hidden" asp-for="@Model.ControladorOrigen" />
                    <input type="hidden" asp-for="@Model.AccionOrigen" />

                    @* ---------------------------------- *@
                    @* Tipo de dirección, Datos de la Via *@
                    @* ---------------------------------- *@
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="cboTipoDireccion" class="control-label">Tipo de Dirección</label>
                            <select id="cboTipoDireccion" class="form-control" asp-for="@Model.NewDireccion.IdTipoDireccion" required asp-items="@(new SelectList(@Model.LstTipoDirecciones, "IdTipoDireccion", "Descripcion"))">
                                <option value="">Seleccionar</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar tipo de dirección</div>
                        </div>
                        <div class="col-md-3">
                            <label for="cboTipoVia" class="control-label">Tipo de Vía</label>
                            <select id="cboTipoVia" class="form-control" asp-for="@Model.NewDireccion.IdTipoVia" required asp-items="@(new SelectList(@Model.LstTipoVias, "IdTipoVia", "Descripcion"))">
                                <option value="">Seleccionar</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar tipo de vía</div>
                        </div>
                        <div class="col-md-5">
                            <label for="nombreVia" class="control-label">Nombre de la Vía</label>
                            <input id="nombreVia" class="form-control" asp-for="@Model.NewDireccion.NombreVia" required class="form-control" autocomplete="off" placeholder="Ingrese nombre de vía" />
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Ingresar nombre de la vía</div>
                        </div>
                        <div class="col-md-2">
                            <label for="numeroVia" class="control-label">Número de Vía</label>
                            <input id="numeroVia" class="form-control" asp-for="@Model.NewDireccion.NumeroVia" required class="form-control" autocomplete="off" placeholder="Ingrese nro de vía" />
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Ingresar número de vía</div>
                        </div>
                    </div>

                    @* ---------------- *@
                    @* Datos de la Zona *@
                    @* ---------------- *@
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <label for="cboTipoZona" class="control-label">Tipo de Zona</label>
                            <select id="cboTipoZona" class="form-control" asp-for="@Model.NewDireccion.IdTipoZona" required asp-items="@(new SelectList(@Model.LstTipoZonas, "IdTipoZona", "Descripcion"))">
                                <option value="">Seleccionar</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar tipo de zona</div>
                        </div>

                        <div class="col-md-9">
                            <label for="nombreZona" class="control-label">Nombre de Zona</label>
                            <input id="nombreZona" class="form-control" asp-for="@Model.NewDireccion.NombreZona" class="form-control" autocomplete="off" placeholder="Ingrese nombre de zona" />
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Ingresar nombre de la zona</div>
                        </div>
                    </div>

                    @* ---------------- *@
                    @* Datos del Ubigeo *@
                    @* ---------------- *@
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="cbodepartamento" class="form-label">Departamento</label>
                            <select id="cbodepartamento" class="form-control" asp-for="@Model.DepartamentoKey" required asp-items="@(new SelectList(@Model.LstDepartamentos, "IdDepartamento", "DepartamentoName"))"></select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar departamento</div>
                        </div>
                        <div class="col-sm-4">
                            <label for="cboprovincia" class="form-label">Provincia</label>
                            <select id="cboprovincia" class="form-control" asp-for="@Model.ProvinciaKey" required asp-items="@(new SelectList(@Model.LstProvincias, "IdProvincia", "ProvinciaName"))"></select> 
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar provincia</div>
                        </div>
                        <div class="col-sm-4">
                            <label for="cbodistrito" class="form-label">Distrito</label>
                            <select id="cbodistrito" class="form-control" asp-for="@Model.DistritoKey" required asp-items="@(new SelectList(@Model.LstDistritos, "IdDistrito", "DistritoName"))"></select>
                             <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar distrito</div>
                        </div>
                    </div>


                    @*-------------- *@
                    @* Pie de página *@
                    @*-------------- *@
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button id="btnSubmit" type="submit" class="btn btn-primary" onclick="validarFormulario()"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div> 
                </form>

                <script src="~/js/proveedores/campos-obligatorios.js"></script>
                <script src="~/js/vistas/direccion_index.js"></script>

            </div>
        </div>
    </div>
</div>
 
 