@model Jodami.AppWeb.Models.Dto.DtoDirecciones

<div class="modal fade" id="EditEntidad-@Model.NewSocioDireccion.IdSocioDireccion" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Editar Dirección</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">

                <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>

                    <input type="hidden" asp-for="@Model.NewDireccion.IdDireccion" />
                    <input type="hidden" asp-for="@Model.NewSocioDireccion.IdSocio" />
                    <input type="hidden" asp-for="@Model.IdSocio" />
                    <input type="hidden" asp-for="@Model.TipoNroDcmto" />
                    <input type="hidden" asp-for="@Model.Nombres" />
                    <input type="hidden" asp-for="@Model.Situacion" />
                    <input type="hidden" asp-for="@Model.TipoSocio" />
                    <input type="hidden" asp-for="@Model.ControladorOrigen" />
                    <input type="hidden" asp-for="@Model.AccionOrigen" />


                    @* ---------------------------------- *@
                    @* Tipo de dirección, Datos de la Via *@
                    @* ---------------------------------- *@
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label class="control-label">Tipo de Dirección</label>
                            <select class="form-control" asp-for="@Model.NewDireccion.IdTipoDireccion" required asp-items="@(new SelectList(@Model.LstTipoDirecciones, "IdTipoDireccion", "Descripcion"))">                             
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tipo de Vía</label>
                            <select class="form-control" asp-for="@Model.NewDireccion.IdTipoVia" required asp-items="@(new SelectList(@Model.LstTipoVias, "IdTipoVia", "Descripcion"))">                               
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">Nombre de la Vía</label>
                            <input id="nombreVia" class="form-control" asp-for="@Model.NewDireccion.NombreVia" required class="form-control" autocomplete="off" />
                            <span asp-validation-for="@Model.NewDireccion.NombreVia" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Número de Vía</label>
                            <input id="numeroVia" class="form-control" asp-for="@Model.NewDireccion.NumeroVia" required class="form-control" autocomplete="off"  />
                            <span asp-validation-for="@Model.NewDireccion.NumeroVia" class="text-danger"></span>
                        </div>
                    </div>

                    @* ---------------- *@
                    @* Datos de la Zona *@
                    @* ---------------- *@
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Tipo de Zona</label>
                            <select id="cboTipoZona" class="form-control" asp-for="@Model.NewDireccion.IdTipoZona" asp-items="@(new SelectList(@Model.LstTipoZonas, "IdTipoZona", "Descripcion"))">                              
                            </select>
                        </div>

                        <div class="col-md-10">
                            <label class="control-label">Nombre de Zona</label>
                            <input id="nombreZona" class="form-control" asp-for="@Model.NewDireccion.NombreZona" class="form-control" autocomplete="off" />
                            <span asp-validation-for="@Model.NewDireccion.NombreZona" class="text-danger"></span>
                        </div>
                    </div>

                    @* ---------------- *@
                    @* Datos del Ubigeo *@
                    @* ---------------- *@
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Departamento</label>
                            <select id="xcbodepartamento" asp-for="@Model.DepartamentoKey" class="form-control form-select-sm" required></select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar departamento</div>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Provincia</label>
                            <select id="xcboprovincia" asp-for="@Model.ProvinciaKey" class="form-control form-select-sm" required></select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar provincia</div>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Distrito</label>
                            <select id="xcbodistrito" asp-for="@Model.DistritoKey" class="form-control form-select-sm" required></select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Seleccionar distrito</div>
                        </div>
                    </div>



                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Departamento</label>
                            <input id="numeroVia" class="form-control" asp-for="@Model.NewSocioDireccion.IdDireccionNavigation.IdDistritoNavigation.IdProvinciaNavigation.IdDepartamentoNavigation.DepartamentoName" class="form-control" disabled />
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Provincia</label>
                            <input id="numeroVia" class="form-control" asp-for="@Model.NewSocioDireccion.IdDireccionNavigation.IdDistritoNavigation.IdProvinciaNavigation.ProvinciaName" class="form-control" disabled />
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Distrito</label>
                            <input id="numeroVia" class="form-control" asp-for="@Model.NewSocioDireccion.IdDireccionNavigation.IdDistritoNavigation.DistritoName" class="form-control" disabled />
                        </div>
                    </div>


                    @*-------------- *@
                    @* Pie de página *@
                    @*-------------- *@
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button id="btnSubmit" type="submit" class="btn btn-primary" onclick="validarFormulario()"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                     

                </form>

                <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

                <script type="text/javascript">

                    $(document).ready(function () {

                        $.getJSON("getUbigeoDepartamento", {}, function (dataDepartamentos) {
                            $("#xcboprovincia").empty();
                            $("#xcbodistrito").empty();
                            $("#xcbodepartamento").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                            $.each(dataDepartamentos, function (i, obj) {
                                $("#xcbodepartamento").append("<option value='" + obj.idDepartamento + "'>" + obj.departamentoName + "</option>");
                            });
                        });

                        $("#xcbodepartamento").change(function () {
                            $("#xcboprovincia").empty();
                            $("#xcbodistrito").empty();
                            let keyDepartamento = $("#xcbodepartamento").val();
                            $.getJSON("getUbigeoProvinciasByDepartamento", { "b_departamento": keyDepartamento }, function (data) {
                                $("#xcboprovincia").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                                $.each(data, function (i, obj) {
                                    $("#xcboprovincia").append("<option value='" + obj.idProvincia + "'>" + obj.provinciaName + "</option>");
                                });
                            });
                        });

                        $("#xcboprovincia").change(function () {
                            $("#xcbodistrito").empty();
                            let keyProvincia = $("#xcboprovincia").val();
                            $.getJSON("getUbigeoDistritosByDepartamentoAndProvincia", { "b_provincia": keyProvincia }, function (data) {
                                $("#xcbodistrito").append($("<option>").attr({ "value": "" }).text("Seleccionar"));
                                $.each(data, function (i, obj) {
                                    $("#xcbodistrito").append("<option value='" + obj.idDistrito + "'>" + obj.distritoName + "</option>");
                                });
                            });
                        });
                    });

                    (function () {
                        'use strict'
                        var forms = document.querySelectorAll('.needs-validation')

                        Array.prototype.slice.call(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault()
                                        event.stopPropagation()
                                    }
                                    form.classList.add('was-validated')
                                }, false)
                            })
                    })()

                </script>




            </div>
        </div>
    </div>
</div>

