@model Jodami.AppWeb.Models.Dto.DtoDirecciones

@{
    Layout = null;
    string titRucNombres = @Model.TipoNroDcmto + " " + @Model.Nombres;
}

<!DOCTYPE html>

<html> 

<head>       
    <partial name="_ReporteEncabezado" />
    <style>
        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
        } 

        #contenedorSubTitulo {
            margin: 0 auto;
            text-align: left;
            padding: .2em;
            width: 720px;            
            border: 5px solid #B7C5DF; 
        }

    </style> 
</head> 

<body> 

    <div class="contenedorSubTitulo">
        <table class="xtbproductos table table-sm table-bordered table-striped" id="tabla" width="100%" cellspacing="0">      
            <thead class="table-dark">
                <tr>                    
                    <th align="left"><h2>@titRucNombres</h2></th>
                </tr>                
            </thead>
        </table>
    </div> 

    <div class="contenedor"> 
        <table class="tbproductos table table-sm table-bordered table-striped" id="tabla" width="100%" cellspacing="0">      
            <thead class="table-dark">
                <tr style="text-align: center">
                    <th class="tbth">Tipo</th>
                    <th class="tbth">Dirección</th>
                    <th class="tbth">Ubigeo</th>                  
                    <th class="tbth">Estado</th>
                </tr>
            </thead>
            <tbody>
                @{
                    @foreach (var item in Model.LstSocioDirecciones.ToList())
                    {
                        <tr>
                            <td align="left">@Html.DisplayFor(m => item.IdDireccionNavigation.IdTipoDireccionNavigation.Descripcion)</td>
                            <td align="left">@Html.DisplayFor(m => item.IdDireccionNavigation.NameDireccion)</td>
                            <td>@Html.DisplayFor(m => item.IdDireccionNavigation.NameUbigeo)</td> 
                            <td align="center">@Html.DisplayFor(m => item.EsActivo)</td> 
                        </tr> 
                    }
                }
            </tbody>
        </table>
    </div> 
</body>
</html> 