@model Jodami.AppWeb.Models.ViewModels.VMSociosGrupos

<div class="modal fade" id="EditEntidad-@Model.IdSocio" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">   
            <div class="modal-header">
                <h2 class="modal-title">Editar Grupo Económico</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div> 
            <div class="modal-body">       
                <form asp-action="Editar" method="post" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="@Model.IdSocio" />
                    <input type="hidden" asp-for="@Model.IdTipoSocio" />

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Tipo documento de identidad</label>
                            <select id="IdFlete" class="form-control" asp-for="@Model.IdTipoDcmtoIdentidad" asp-items="@(new SelectList(@Model.TiposDcmtoIdentidad, "IdTipoDcmtoIdentidad", "SimboloAndDescripcion") ) ">
                                <option value="">Seleccionar</option>
                            </select>
                            <div class="invalid-feedback">Tipo documento de identidad obligatorio</div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="@Model.NumeroDcmtoIdentidad" class="control-label">Número documento de identidad</label>
                            <input asp-for="@Model.NumeroDcmtoIdentidad" class="form-control" autocomplete="off" required maxlength="20" />
                            <div class="invalid-feedback">Número documento de identidad obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.RazonSocial" class="control-label">Grupo económico</label>
                        <input asp-for="@Model.RazonSocial" class="form-control" autocomplete="off" required maxlength="100" />
                        <div class="invalid-feedback">Grupo económico obligatorio</div>
                    </div>
                    <div class="form-group">
                        <label for="cboEstado">Estado Activo (en Check)</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.EsActivo">
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                </form>
                <script src="~/js/validaciones/campos-obligatorios.js"></script>
            </div>
        </div>
    </div>   
</div>