@model Jodami.AppWeb.Models.Dto.DtoFormaPagos

<div class="modal fade" id="AddEntidad" aria-labelledby="AddEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="AddEntidadLabel">Adicionar Forma de Pago</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

                <style> 
                    .tdaction {
                        width: 15%;
                    }

                    .tdSr {
                        width: 7%;
                    }
                    strong {
                        font-size: 24px !important;
                    }
                    
                    input.largerCheckbox {
                        width: 20px;
                        height: 20px;
                    }      
                </style>

            </div>
            <div class="modal-body">
                <div class="modal-body">

                  

                    <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>
                        <br />
                        <br />
                        <a href="https://jquery.com">default click action is prevented</a>
                        <div id="log"></div>
                        <br />
                        <br />

                        <input type="hidden" asp-for="@Model.NewSocioFormaPago.IdFormaPago" />
                        <input type="hidden" asp-for="@Model.NewSocioFormaPago.IdSocio" />
                        <input id="idSocio" type="hidden" asp-for="@Model.IdSocio" />
                        <input type="hidden" asp-for="@Model.TipoNroDcmto" />
                        <input type="hidden" asp-for="@Model.Nombres" />
                        <input type="hidden" asp-for="@Model.Situacion" />
                        <input type="hidden" asp-for="@Model.TipoSocio" />
                        <input type="hidden" asp-for="@Model.ControladorOrigen" />
                        <input type="hidden" asp-for="@Model.AccionOrigen" />

                       @*  <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="xtbdata" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">
                                                    <input type="checkbox" class="largerCheckbox" id="chkAll" />
                                                </th>
                                                <th>Forma de Pago</th>                    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i <= Model.LstTipoFormaPago.OrderBy(x => x.Descripcion).Count() - 1; i++) 
                                            {
                                                <input type="hidden" asp-for="@Model.LstTipoFormaPago[i].IdTipoFormaPago" />

                                                <tr>
                                                    <td type='checkbox' class="largerCheckbox" style="text-align: center"> @Html.TextBoxFor(m => Model.LstTipoFormaPago[i].SEL)</td>
                                                    <td>@Html.DisplayFor(m => Model.LstTipoFormaPago[i].Codigo)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> *@



                        <div class="row pt-3">
                            <div class="col-md-12 col-sm-12 col-12 p-2 ">

                                <table id="tblData" class="table table-bordered table-hover table-striped">

                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="largerCheckbox" id="chkAll" />
                                            </th>
                                            <th>Forma de Pago</th>
                                           @*  <th>User Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Website</th> *@
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td colspan="6" id="trLoader">
                                                <div class="text-center">
                                                    Loading
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>


                       @*  <br /> *@
                        <div class="modal-footer">
                            <button id="btnSubmit" type="submit" class="btn btn-primary" > Guardar</button>
                            <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                        </div>                         
                    </form>


                  @*   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
                   @*  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> *@
                   @*  <script src="~/js/jquery-3.7.1.min.js"></script> *@

                    @* <a href="~/vendor/jquery/jquery.min.map">~/vendor/jquery/jquery.min.map</a>
                    <a href="~/vendor/jquery/jquery.slim.min.map">~/vendor/jquery/jquery.slim.min.map</a> *@
                    @* <script src="~/vendor/jquery/jquery.min.js"></script>
                    <script src="~/vendor/jquery/jquery.slim.min.js"></script>
                    <script src="~/vendor/jquery/jquery.slim.js"></script>
                    <script src="~/vendor/jquery/jquery.js"></script> *@

                    <script>
                        $("a").on("click", function (event) {
                            console.log('event =>  click');
                            event.preventDefault();
                            $("<div>")
                                .append("default " + event.type + " prevented")
                                .appendTo("#log");
                        });
                    </script>

                    <script>

                        $(document).ready(function () {

                            // e.preventDefault();

                            console.log('1. function document.ready => envia a loadGridData');
                            loadGridData();

                            $('#tblData').on('change', '.tblChk', function () { 
                                if ($('.tblChk:checked').length == $('.tblChk').length) {
                                    $('#chkAll').prop('checked', true);
                                } else {
                                    $('#chkAll').prop('checked', false);
                                }
                                getCheckRecords();
                            });

                            $("#chkAll").change(function () {
                                // debugger;

                                console.log('change =>  chkAll');

                                if ($(this).prop('checked')) {
                                    $('.tblChk').not(this).prop('checked', true);
                                } else {
                                    $('.tblChk').not(this).prop('checked', false);
                                }
                                getCheckRecords();
                            })
                        });

                        function getCheckRecords() {
                            // debugger;
                            console.log('function =>  getCheckRecords');

                            $(".selectedDiv").html("");
                            $('.tblChk:checked').each(function () {
                                // debugger;
                                if ($(this).prop('checked')) {
                                    if ($(".selectedDiv").children().length == 0) {
                                        const rec = "<strong>" + $(this).attr("data-id") + " </strong>";
                                        $(".selectedDiv").append(rec);
                                    } else {
                                        const rec = ", <strong>" + $(this).attr("data-id") + " </strong>";
                                        $(".selectedDiv").append(rec);
                                    }
                                }
                                console.log(this.value);
                            });
                        }

                        // $.ajax({
                        //     url: "@Url.Action("GetSubGruposByGrupoId", "Articulo")",
                        //     type: "GET",
                        //     dataType: "json",
                        //     data: {
                        //         grupoId: _grupoValor
                        //     },
                        //     success: function (response) {
                        //         $("#cboSubGrupoArticulo").empty();

                        //         $("#cboSubGrupoArticulo").append(
                        //             $("<option>").attr({ "value": "" }).text("Seleccionar")
                        //         )

                        //         $.each(response, function (index, elemento) {
                        //             $("#cboSubGrupoArticulo").append(
                        //                 $("<option>").attr({ "value": elemento.idSubGrupoArticulo }).text(elemento.descripcion)
                        //             )
                        //         })
                        //     }
                        // });



                        function loadGridData() {
                           
                            let _idSocio = document.getElementById('idSocio');

                            console.log('2. loadGridData => carga datos desde el controlador mediante ajax para el socio: ' + _idSocio);;
                            

                            $.ajax({
                                type: "GET",                               
                                url: "@Url.Action("GetFormasDePagoByKey", "FormaPagos")",
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                data: {
                                    idSocio: _idSocio
                                },                                    
                                // beforeSend: function () {
                                //     $("#trLoader").show();
                                // },
                                success: function (results) {
                                    $("#trLoader").remove();
                                    let index = 0;
                                    results.forEach(element => {
                                        let dynamicTR = "<tr>";
                                        dynamicTR = dynamicTR + "<td> <input type='checkbox' data-id=" + element.idTipoFormaPago + " class='largerCheckbox tblChk chk" + " asp-for=" + element.sel + "' /></td>";
                                        dynamicTR = dynamicTR + "<td>" + element.codigo + "</td>";
                                        // dynamicTR = dynamicTR + "<td>" + element.username + "</td>";
                                        // dynamicTR = dynamicTR + "<td>" + element.email + "</td>";
                                        // dynamicTR = dynamicTR + "<td>" + element.phone + "</td>";
                                        // dynamicTR = dynamicTR + "<td>" + element.website + "</td>";
                                        dynamicTR = dynamicTR + " </tr>";
                                        $("#tblData tbody").append(dynamicTR);
                                        index++;
                                    });
                                }
                            });
                        }

                    </script>

                </div>
            </div>
        </div>
    </div>
</div>



