@model Jodami.AppWeb.Models.ViewModels.VMSociosColaboradores

<div class="modal fade" id="EditEntidad-@Model.IdSocio" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">   
            <div class="modal-header">
                <h2 class="modal-title">Editar Colaborador</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div> 
            <div class="modal-body">       
                <form asp-action="Editar" method="post" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="@Model.IdSocio" />
                    <input type="hidden" asp-for="@Model.IdTipoSocio" />

                    @*------------------------------------ *@
                    @* Tipo documento, Nro dcmto identidad *@
                    @*------------------------------------ *@
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label class="control-label">Tipo documento</label>
                            <select id="cbxTipoDcmtoIdentidad" class="form-control" asp-for="IdTipoDcmtoIdentidad" asp-items="@(new SelectList(@Model.TiposDcmtoIdentidad, "IdTipoDcmtoIdentidad", "SimboloAndDescripcion") ) ">
                                @* <option value="">Seleccionar</option> *@
                            </select>
                            <div class="invalid-feedback">Tipo documento de identidad obligatorio</div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label asp-for="NumeroDcmtoIdentidad" class="control-label">Nro dcmto identidad</label>
                            <input asp-for="NumeroDcmtoIdentidad" class="form-control text-uppercase" autocomplete="off" required maxlength="20" onKeyUp="this.value=this.value.toUpperCase();" />
                            <div class="invalid-feedback">Número documento de identidad obligatorio</div>
                        </div>                       
                        <div class="col-sm-2 form-group">
                        </div>
                        <div class="col-sm-2 form-group">
                            <label for="cboEstado">Estado</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="@Model.EsActivo">
                            </div>
                        </div>
                    </div>
                    <hr />

                    @*----------------------------------- *@
                    @* Apellido paterno, materno, nombres *@
                    @*----------------------------------- *@
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label asp-for="ApellidoPaterno" class="control-label">Apellido paterno</label>
                            <input asp-for="ApellidoPaterno" class="form-control" autocomplete="off" maxlength="100" required onkeypress="return validateSoloLetras(event)" />
                            <div class="invalid-feedback">Apellido paterno obligatorio</div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label asp-for="ApellidoMaterno" class="control-label">Apellido materno</label>
                            <input asp-for="ApellidoMaterno" class="form-control" autocomplete="off" maxlength="100" required onkeypress="return validateSoloLetras(event)" />
                            <div class="invalid-feedback">Apellido materno obligatorio</div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label asp-for="PrimerNombre" class="control-label">Primer nombre</label>
                            <input asp-for="PrimerNombre" class="form-control" autocomplete="off" maxlength="100" required onkeypress="return validateSoloLetras(event)" />
                            <div class="invalid-feedback">Primer nombre obligatorio</div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label asp-for="SegundoNombre" class="control-label">Segundo nombre</label>
                            <input asp-for="SegundoNombre" class="form-control" autocomplete="off" maxlength="100" onkeypress="return validateSoloLetras(event)" />
                        </div>
                    </div>
                    <hr />

                    @*------------------------- *@
                    @* Celular, Teléfono, Email *@
                    @*------------------------- *@
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label asp-for="Celular" class="control-label">Celular</label>
                            <input asp-for="Celular" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label asp-for="Telefono" class="control-label">Teléfono</label>
                            <input asp-for="Telefono" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input id="email" asp-for="Email" class="form-control" autocomplete="off" maxlength="100" />
                        </div>
                    </div>
                    <br />
                    @*-------------- *@
                    @* Pie de página *@
                    @*-------------- *@                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                </form>
                <script src="~/js/validaciones/campos-obligatorios.js"></script>
            </div>
        </div>
    </div>   
</div>