@model Jodami.AppWeb.Models.ViewModels.VMSociosProveedores    
  
<link href="~/css/socios-de-negocio.css" rel="stylesheet" />

<div class="modal fade" id="AddEntidad" aria-labelledby="AddEntidadLabel" aria-hidden="true">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="AddEntidadLabel">Adicionar Proveedor</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <form asp-action="Adicionar" asp-controller="SocioProveedores" method="post" class="needs-validation" novalidate>

                        <input type="hidden" asp-for="@Model.IdSocio" />
                        <input type="hidden" asp-for="@Model.IdTipoSocio" />

                        @*-------------------------------------------------- *@
                        @* Tipo documento, Nro dcmto identidad, Razón social *@
                        @*-------------------------------------------------- *@
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label class="control-label">Tipo documento</label>
                                <select id="cbxTipoDcmtoIdentidad" required class="form-control"
                                        asp-for="IdTipoDcmtoIdentidadAsignado"
                                        asp-items="@(new SelectList(@Model.TiposDcmtoIdentidad, "IdTipoDcmtoIdentidad", "SimboloAndDescripcion"))"
                                        onchange="showhide()">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="invalid-feedback">Tipo documento de identidad es obligatorio</div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label asp-for="NumeroDcmtoIdentidad" class="control-label">Nro dcmto identidad</label>
                                <input id="numeroDcmtoIdentidad" asp-for="NumeroDcmtoIdentidad"
                                       class="form-control text-uppercase" autocomplete="off" required maxlength="20"
                                       onKeyUp="this.value=this.value.toUpperCase();" />
                                <div class="invalid-feedback">Número documento de identidad obligatorio</div>
                            </div>
                            <div id="tipoDcmtoRUC" class="col-sm-6 form-group">
                                <label asp-for="RazonSocial" class="control-label">Razón social</label>
                                <input id="razonSocial" asp-for="RazonSocial" class="form-control" autocomplete="off" maxlength="100" />
                            </div>
                        </div>

                        @*------------------- *@
                        @* Apellido y Nombres *@
                        @*------------------- *@
                        <div id="tipoDcmtoNoRUC" class="row">
                            <div class="col-sm-3 form-group">
                                <label asp-for="ApellidoPaterno" class="control-label">Apellido paterno</label>
                                <input id="apellidoPaterno" asp-for="ApellidoPaterno" class="form-control" autocomplete="off" maxlength="100" onkeypress="return validateSoloLetras(event)" />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="ApellidoMaterno" class="control-label">Apellido materno</label>
                                <input id="apellidoMaterno" asp-for="ApellidoMaterno" class="form-control" autocomplete="off" maxlength="100" onkeypress="return validateSoloLetras(event)" />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="PrimerNombre" class="control-label">Primer nombre</label>
                                <input id="primerNombre" asp-for="PrimerNombre" class="form-control" autocomplete="off" maxlength="100" onkeypress="return validateSoloLetras(event)" />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="SegundoNombre" class="control-label">Segundo nombre</label>
                                <input id="segundoNombre" asp-for="SegundoNombre" class="form-control" autocomplete="off" maxlength="100" onkeypress="return validateSoloLetras(event)" />
                            </div>
                        </div>

                        @*-------------------------------------------------- *@
                        @* Teléfono, Celular, Pagina Web, Email, Zona Postal *@
                        @*-------------------------------------------------- *@
                        <hr />
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <label asp-for="Celular" class="control-label">Celular</label>
                                <input asp-for="Celular" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                            </div>
                            <div class="col-sm-2 form-group">
                                <label asp-for="Telefono" class="control-label">Teléfono</label>
                                <input asp-for="Telefono" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="PaginaWeb" class="control-label">Pagina Web</label>
                                <input asp-for="PaginaWeb" class="form-control" autocomplete="off" maxlength="100" />
                            </div>
                            @*  <div class="col-sm-3 form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input id="email" asp-for="Email" class="form-control" autocomplete="off" maxlength="100" />
                            </div> *@
                            <div class="col-sm-2 form-group">
                                <label asp-for="ZonaPostal" class="control-label">Zona Postal</label>
                                <input asp-for="ZonaPostal" class="form-control text-uppercase" autocomplete="off" maxlength="10" onKeyUp="this.value=this.value.toUpperCase();" />
                            </div>
                        </div>
                        <hr />

                        @*---------------------------------------------------- *@
                        @* Colaborador, Grupo económico, Inicio de operaciones *@
                        @*---------------------------------------------------- *@
                        <div class="row">
                            @*  <div class="col-sm-4 form-group">
                            <label asp-for="IdColaboradorAsignado" class="control-label">Colaborador</label>
                            <select id="IdColaboradorAsignado" class="form-control" asp-for="IdColaboradorAsignado" asp-items="@(new SelectList(@Model.nav_Colaboradores, "IdSocio", "ApellidosAndNombres") ) ">
                            <option value="">Seleccionar</option>
                            </select>
                            </div> *@
                            <div class="col-sm-6 form-group">
                                <label asp-for="IdGrupoSocioNegocio" class="control-label">Grupo económico</label>
                                <select id="IdGrupoSocioNegocio" class="form-control" asp-for="IdGrupoSocioNegocio" asp-items="@(new SelectList(@Model.nav_GrupoEconomico, "IdSocio", "RazonSocial") ) ">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="FechaInicioOperaciones" class="control-label">Inicio de operaciones</label>
                                <input asp-for="FechaInicioOperaciones" class="form-control " />
                                <span asp-validation-for="FechaInicioOperaciones" class="text-danger"></span>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label asp-for="IdTipoCalificacion" class="control-label">Calificación</label>
                                <select id="IdTipoCalificacion" class="form-control" asp-for="IdTipoCalificacion" asp-items="@(new SelectList(@Model.nav_Calificacion, "IdTipoCalificacion", "CodigoAndDescripcion") ) ">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <hr />

                        @*--------------------------------------------------------------------------- *@
                        @* Tipo calificación, Afecto retención, Afecto percepción, Buen contribuyente *@
                        @*--------------------------------------------------------------------------- *@
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label class="d-flex justify-content-center" for="cboEstado">Afecto Retención</label>
                                <div class="form-check d-flex justify-content-center">
                                    <input class="largerCheckbox" type="checkbox" asp-for="IsAfectoRetencion">
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label class="d-flex justify-content-center" for="cboEstado">Afecto Percepción</label>
                                <div class="form-check d-flex justify-content-center">
                                    <input class="largerCheckbox" type="checkbox" asp-for="IsAfectoPercepcion">
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label class="d-flex justify-content-center" for="cboEstado">Buen Contribuyente</label>
                                <div class="form-check d-flex justify-content-center">
                                    <input class="largerCheckbox" type="checkbox" asp-for="IsBuenContribuyente">
                                </div>
                            </div>
                            @* @{
                                if (Model.OperacionCRUD != "INSERT")
                                {
                                    <div class="col-sm-1 form-group">
                                        <label for="cboEstado">Estado</label>
                                        <div class="form-check">
                                            <input class="largerCheckbox" type="checkbox" asp-for="@Model.EsActivo">
                                        </div>
                                    </div>
                                }
                            } *@
                        </div>

                        @*-------------- *@
                        @* Mensaje *@
                        @*-------------- *@
                        @if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
                        {
                            <div class="card" style="margin-top:20px">
                                <div class="alert alert-warning" role="alert">
                                    <h2><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Mensaje</em></h2>
                                </div>
                            </div>
                        }

                         <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />


                        @*-------------- *@
                        @* Pie de página *@
                        @*-------------- *@
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-save="modal"> Guardar</button>
                            <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                        </div>
                    </form>

                 @*    <script src="~/js/validaciones/campos-obligatorios.js"></script> *@

                    <script src="~/vendor/jquery/jquery.js"></script>

                   @*  <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script> *@

  
<script>    
    $(function () {

        $('button[data-save="modal"]').click(function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var dataToSend = form.serialize();

            $.post(actionUrl, dataToSend).done(function (data) {

                var placeholderElement = $('#modal-placeholder');
                var newBody = $('.modal-body', data);

                // find IsValid input field and check it's value
                // if it's valid then hide modal window

                var isValid = newBody.find('[name="IsValid"]').val() == 'True';

                if (isValid) {
                    placeholderElement.find('.modal').modal('hide');
                    location.href = "/";
                } else {
                    placeholderElement.find('.modal-body').replaceWith(newBody);
                }

            });

        });

    });


</script>


 

 <script>

     (function () {
         'use strict'

         // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
         var forms = document.querySelectorAll('.needs-validation')

         // Bucle sobre ellos y evitar el envío
         Array.prototype.slice.call(forms)
             .forEach(function (form) {
                 form.addEventListener('submit', function (event) {
                     if (!form.checkValidity()) {
                         event.preventDefault()
                         event.stopPropagation()
                     }

                     form.classList.add('was-validated')
                 }, false)
             })
     })()

     $(document).ready(function () {
         showhide();
     })

     function showhide() {
         let tipoDcmto = document.getElementById('cbxTipoDcmtoIdentidad');
         let value = tipoDcmto.value;
         let text = tipoDcmto.options[tipoDcmto.selectedIndex].text.substring(0, 3);

           
         console.log("1. text: " + text + "   value: " + text);

         if (text == 'RUC') {
             hideApellidosAndNombre();
             showRazonSocial();

         } else {
             hideRazonSocial();
             showApellidosAndNombre();
         }
     }

     function hideApellidosAndNombre() {
         var elem = document.getElementById('tipoDcmtoNoRUC');
         elem.style.display = 'none';
     }

     function showApellidosAndNombre() {
         var elem = document.getElementById('tipoDcmtoNoRUC');
         elem.style.display = 'inline-flex';
     }

     function hideRazonSocial() {
         var elem = document.getElementById('tipoDcmtoRUC');
         elem.style.display = 'none';
     }

     function showRazonSocial() {
         var elem = document.getElementById('tipoDcmtoRUC');
         elem.style.display = 'inline';
     }

 </script>


                </div>
            </div>
        </div>
    </div>
   
</div>

