@using Jodami.AppWeb.Models.ViewModels
@using Jodami.AppWeb.Utilidades.Infraestructura
@using Jodami.Entity
@model IEnumerable<VMSociosProveedores>

@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tipoSocio = (TipoSocio)ViewBag.TipoSocio;
    var tiposDcmtosIdentidad = (List<VMTipoDocumentoIdentidad>)ViewBag.TipoDocumentoIdentidad;
    var dcmtoDefault = (VMTipoDocumentoIdentidad)ViewBag.DcmtoDefault;

    var grupoEconomico = (List<VMSociosGrupos>)ViewBag.GrupoEconomico;
    var colaboradores = (List<VMSociosColaboradores>)ViewBag.Colaboradores;
    var calificacion = (List<VMTipoCalificacion>)ViewBag.Calificacion;


    var entity = new VMSociosProveedores()
    {  
                IdSocio = 0,
                IdTipoSocio = tipoSocio.IdTipoSocio,
                IdTipoDcmtoIdentidad = dcmtoDefault.IdTipoDcmtoIdentidad,
                NumeroDcmtoIdentidad = string.Empty,
                RazonSocial = string.Empty,
                CodigoTipoDcmto = dcmtoDefault.Simbolo,
                NameTipoDcmto = dcmtoDefault.Descripcion,
                TiposDcmtoIdentidad = tiposDcmtosIdentidad, 
                ApellidoPaterno = string.Empty,
                ApellidoMaterno = string.Empty,
                PrimerNombre = string.Empty,
                SegundoNombre = string.Empty,
                Telefono = string.Empty,
                Celular = string.Empty,
                PaginaWeb = string.Empty,
                Email = string.Empty,  
                nav_GrupoEconomico = grupoEconomico,
                nav_Colaboradores = colaboradores,
                nav_Calificacion = calificacion

        // public int? IdGrupoSocioNegocio { get; set; }
 

        // public bool IsAfectoRetencion { get; set; }
        // public bool IsAfectoPercepcion { get; set; }
        // public bool IsBuenContribuyente { get; set; }

        // public int? IdTipoCalificacion { get; set; }

        // public string ZonaPostal { get; set; }

        // public DateTime? FechaInicioOperaciones { get; set; }
        // public int? IdTipoMotivoBaja { get; set; }
        // public DateTime? FechaBaja { get; set; }
    };

}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista Proveedores</h6>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-success" data-toggle="modal" data-target="#AddEntidad"><i class="fas fa-plus-circle"></i> Nuevo</button>
                @await Html.PartialAsync("_AddPartialView", entity)
               @*  <a class="btn btn-success" href="@Url.Action("ListarPDF", "SocioProveedores")"><i class="bi bi-printer"></i> Listado</a> *@
                <a class="btn btn-success" href="@Url.Action("Index", "Home")"><i class="bi bi-printer"></i> Regresar</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>       
                            <th>Proveedor</th>
                            @* <th align="center">T.D</th>
                            <th align="center">Nro.dcmto</th> *@
                            <th align="center">Celular</th>
                            <th align="center">Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.RazonSocial).ToList())
                        {                           
                            <tr>
                                <td>@Html.DisplayFor(m => item.NombreRazonSocial)</td>
                               @*  <td align="center">@Html.DisplayFor(m => item.CodigoTipoDcmto)</td>
                                <td align="center">@Html.DisplayFor(m => item.NumeroDcmtoIdentidad)</td> *@
                                <td align="center">@Html.DisplayFor(m => item.Celular)</td>
                                <td align="center">@Html.DisplayFor(m => item.EsActivo)</td> 
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="@("#EditEntidad-" + item.IdSocio)" data-url="@Url.Action($"Edit/{item.IdSocio}")">
                                        <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Editar&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EditPartialView", item)

                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdSocio)" data-url="@Url.Action($"Eliminar/{item.IdSocio}")">
                                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)

                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdSocio)" data-url="@Url.Action($"Eliminar/{item.IdSocio}")">
                                        <i class="bi bi-justify"></i>&nbsp;&nbsp;Contactos&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)

                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdSocio)" data-url="@Url.Action($"Eliminar/{item.IdSocio}")">
                                        <i class="bi bi-justify"></i>&nbsp;&nbsp;Dirección&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)

                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdSocio)" data-url="@Url.Action($"Eliminar/{item.IdSocio}")">
                                        <i class="bi bi-justify"></i>&nbsp;&nbsp;Cuentas&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)

                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="@("#EliminarEntidad-" + item.IdSocio)" data-url="@Url.Action($"Eliminar/{item.IdSocio}")">
                                        <i class="bi bi-justify"></i>&nbsp;&nbsp;Forma Pago&nbsp;&nbsp;
                                    </button>
                                    @await Html.PartialAsync("_EliminarPartialView", item)

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div> 

@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/datatables-demo.js"></script>
}