@model Jodami.AppWeb.Models.Dto.DtoContactos

<div class="modal fade" id="AddEntidad" aria-labelledby="AddEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="AddEntidadLabel">Adicionar Contacto</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                   
                    <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="@Model.NewContacto.IdContacto" />
                        <input type="hidden" asp-for="@Model.NewContacto.IdSocio" />
                        <input type="hidden" asp-for="@Model.IdSocio" />
                        <input type="hidden" asp-for="@Model.TipoSocio" />
                        <input type="hidden" asp-for="@Model.ControladorOrigen" />
                        <input type="hidden" asp-for="@Model.AccionOrigen" />

                        <div class="row">
                            <div class="col-sm-11">
                                <label class="control-label">Nombres del contacto</label>
                                <input class="form-control" type="text" id="Nombre" asp-for="@Model.NewContacto.Nombre" autocomplete="off" maxlength="100" placeholder="ingrese nombres del contacto">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Debe ingresar nombres del contacto</div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-11">
                                <label for="cboCargo" class="form-label">Cargo</label>
                                <select id="cboCargo" asp-for="@Model.NewContacto.IdCargo" class="form-control form-select-sm" required asp-items="@(new SelectList(@Model.LstCargos, "IdCargo", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Debe seleccionar el cargo del contacto</div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-11 form-group">
                                <label for="Email" class="control-label">Email</label>
                                <input type="email" id="email" asp-for="@Model.NewContacto.Email" class="form-control" autocomplete="off" maxlength="100" />
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="Celular" class="control-label">Celular</label>
                                <input id="Celular" asp-for="@Model.NewContacto.Celular" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="Telefono" class="control-label">Teléfono</label>
                                <input id="Telefono" asp-for="@Model.NewContacto.Telefono" class="form-control" autocomplete="off" maxlength="20" onkeypress="return validateSoloNumerosIncluidoEspaciosEnBlanco(event)" />
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="cboEstado">Celular para WhatsApp (en Check)</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewContacto.IsCelularWhatsApp">
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="cboEstado">Estado Activo (en Check)</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewContacto.EsActivo">
                                </div>
                            </div>
                        </div>

                        @*-------------- *@
                        @* Pie de página *@
                        @*-------------- *@
                        <hr />
                        <div class="modal-footer">
                            <button id="btnSubmit" type="submit" class="btn btn-primary" onclick="validarFormulario()"> Guardar</button>
                            <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                        </div> 
                         
                    </form>
                   
                    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> 

                    <script>

                        (function () {
                            'use strict' 
                            var forms = document.querySelectorAll('.needs-validation')
                           
                            Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }

                                        form.classList.add('was-validated')
                                    }, false)
                                }) 
                        })() 

                    </script>                     

                </div>
            </div>
        </div>
    </div>
</div> 
 