@model Jodami.AppWeb.Models.ViewModels.VMUbigeoProvincia

<div class="modal fade" id="EditEntidad-@Model.IdProvincia" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">   
            <div class="modal-header">
                <h2 class="modal-title">Editar Provincia</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div> 
            <div class="modal-body">       
                <form asp-action="Editar" method="post" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="@Model.UbiDptoKey" />
                    <input type="hidden" asp-for="@Model.UbiDptoCodigo" />
                    <input type="hidden" asp-for="@Model.UbiDptoName" />
                    <input type="hidden" asp-for="@Model.IdProvincia" />

                    @{
                        string keyProv = Model.CodigoProvincia.Substring(2, 2);
                    }

                    <div class="form-group">                       
                        <label asp-for="@keyProv" class="control-label">Código</label>
                        <input asp-for="@keyProv" class="form-control" autocomplete="off" required maxlength="2" />
                        <div class="invalid-feedback">Descripción obligatorio</div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label">Provincia</label>
                        <input asp-for="Provincia1" class="form-control" autocomplete="off" required maxlength="100" />
                        <div class="invalid-feedback">Descripción obligatorio</div>
                    </div>

                    <br /> 
                    <div class="modal-footer">                      
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                </form>
                <script src="~/js/validaciones/campos-obligatorios.js"></script>
            </div>
        </div>
    </div>   
</div>