@model Jodami.AppWeb.Models.Dto.DtoCuentasBancarias

<div class="modal fade" id="AddEntidad" aria-labelledby="AddEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="AddEntidadLabel">Adicionar Cuenta Bancaria</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                   
                    <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>

                        <input type="hidden" asp-for="@Model.NewSocioCuentaBanco.IdCuenta" />
                        <input type="hidden" asp-for="@Model.NewSocioCuentaBanco.IdSocio" />
                        <input type="hidden" asp-for="@Model.IdSocio" />
                        <input type="hidden" asp-for="@Model.TipoNroDcmto" />
                        <input type="hidden" asp-for="@Model.Nombres" />
                        <input type="hidden" asp-for="@Model.Situacion" />
                        <input type="hidden" asp-for="@Model.TipoSocio" />
                        <input type="hidden" asp-for="@Model.ControladorOrigen" />
                        <input type="hidden" asp-for="@Model.AccionOrigen" />
                           
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="control-label">Entidad Financiera</label>
                                <select class="form-control" asp-for="@Model.NewSocioCuentaBanco.IdEntidadFinanciera" required asp-items="@(new SelectList(@Model.LstEntidadFinanciera, "IdEntidadFinanciera", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar entidad financiera</div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Moneda</label>
                                <select class="form-control" asp-for="@Model.NewSocioCuentaBanco.IdMoneda" required asp-items="@(new SelectList(@Model.LstMoneda, "IdMoneda", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar moneda</div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Tipo de Cuenta</label>
                                <select class="form-control" asp-for="@Model.NewSocioCuentaBanco.IdTipoCuentaBancaria" required asp-items="@(new SelectList(@Model.LstTipoCuentaBancaria, "IdTipoCuentaBancaria", "Descripcion"))">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Seleccionar tipo de cuenta</div>
                            </div>                             
                        </div>

                        <hr />
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="control-label">Número de Cuenta</label>
                                <input asp-for="@Model.NewSocioCuentaBanco.CodigoCuenta" class="form-control" required placeholder="Ingrese número de cuenta" autocomplete="off" maxlength="50" />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingrese número de cuenta</div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Número de Cuenta Interbancaria</label>
                                <input asp-for="@Model.NewSocioCuentaBanco.CodigoCuentaInterbancaria" class="form-control" required placeholder="Ingrese número de cuenta interbancaria" autocomplete="off" maxlength="50" />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingrese número de cuenta interbancaria</div>
                            </div>
                        </div>

                        <br />
                        <div class="modal-footer">
                            <button id="btnSubmit" type="submit" class="btn btn-primary" > Guardar</button>
                            <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                        </div>
                         
                    </form>

                    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

                    <script type="text/javascript"> 
                        (function () {
                            'use strict'
                            var forms = document.querySelectorAll('.needs-validation')

                            Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }
                                        form.classList.add('was-validated')
                                    }, false)
                                })
                        })()
                    </script> 

                </div>
            </div>
        </div>
    </div>
</div>



