@model Jodami.AppWeb.Models.ViewModels.VMUbigeoDistrito

@{
    var dptoText = $"Departamento: {Model.UbiDptoCodigo} - {Model.UbiDptoName}";
    var provText = $"Provincia: {Model.UbiProvCodigo.Substring(2, 2)} - {Model.UbiProvName}";
}

<div class="modal fade" id="EliminarEntidad-@Model.IdDistrito" aria-labelledby="EliminarEntidadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">   
            <div class="modal-header">
                <h2 class="modal-title">Eliminar Distrito</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div> 
            <div class="modal-body">                  
                <form asp-action="Eliminar" method="post">
                    <input type="hidden" asp-for="@Model.UbiDptoKey" />
                    <input type="hidden" asp-for="@Model.UbiDptoCodigo" />
                    <input type="hidden" asp-for="@Model.UbiProvKey" />
                    <input type="hidden" asp-for="@Model.UbiProvCodigo" />
                    <input type="hidden" asp-for="@Model.IdDistrito" />
                                                            
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label class="control-label">Departamento</label>
                            <input asp-for="@dptoText" class="form-control" disabled readonly="readonly" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label class="control-label">Provincia</label>
                            <input asp-for="@provText" class="form-control" disabled readonly="readonly" />
                        </div>
                    </div>

                    @{
                        string keyDist = Model.CodigoDistrito.Substring(4, 2);
                    }

                    <div class="form-group">
                        <label class="control-label">Código</label>
                        <input asp-for="@keyDist" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Distrito</label>
                        <input asp-for="Distrito1" class="form-control" readonly="readonly" />
                    </div>
                    <br /> 
                    <div class="modal-footer">                      
                        <button type="submit" class="btn btn-primary"> Eliminar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                </form>                       
            </div>
        </div>
    </div>   
</div>

           